<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eserbisyo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESerbisyo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OrderActivity.FormEditActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity.FormAddActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity.CreateOrderActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity.SelectPickupActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.ComplaintEditActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.ComplaintViewActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.ComplaintAddActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.MissingItemEditActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.MissingItemAddActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.MissingPersonEditActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.MissingPersonAddActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPDFActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.RequirementAddActivity"
            android:exported="false" />
        <activity
            android:name=".ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.ReportAddActivity"
            android:exported="false" />
        <activity
            android:name=".ModelActivities.FeedbackAddActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivities.UserVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivities.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.eserbisyo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>